body{
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color:white;
  font-family:cursive;
  text-align: center;
   margin-bottom: 10px;
    margin-top: 10px;
}
h2{
  text-align: center;
  font-family:cursive;
  color:white;
  margin-bottom: 10px;
   margin-top: 10px;
}
p{
  color:white;
  font-family:cursive;
  font-size: 18px;
  margin-bottom: 10px;
   margin-top: 10px;
  margin-left: 10px;
}
li{
  color:white;
  font-family:cursive;
}
.cent{
  text-align: center;
}
.sm{
  color:white;
  font-family: cursive;
  font-size: 12px;
  margin-bottom: 10px;
   margin-top: 10px;
  margin-left: 10px;
}
.inform{
  font-size: 18px;
  font-family: cursive;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 15px;
  color: white;
  text-align: right;
}
h3{
  font-family:cursive;
  color:white;
}
.products {
 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product {
    background-color:rgb(237, 229, 248);
    display: flex;
    border-radius: 10%;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.favorite-btn {
    background: white;
    border: none;
    cursor: pointer;
}

.favorite {
    color: red;
}
#bonus-but{
    padding-left: 20px;
}
.buttons{
    display: flex;
}
.button-st{
 margin-left: 20px;
 
 height: 40px;
}
.list{
    display: flex;
}
.image-toy{
  display: flex;
  justify-content: center;
}
.slider{
  margin-left: 20px;
}
.about-block{
  margin-left: 10px;
}